.main{}

.menu{}

.postdiv
{
    border: thin dotted #808080;
    position: relative;
}

.text{}

.threadstream{}

.inputfield
{ 
    border:2px solid #dadada;
    border-radius:7px;
    font-size:20px;
    padding:5px; 
    max-width: 200px;
}

.inputfield:focus
{
    min-width: 250px;
    outline:none;
    border: 0.5px solid #4544fc; 
    box-shadow: 0px 0px 7px #4195fc; 
    -moz-box-shadow: 0px 0px 14px #4195fc;
    -webkit-box-shadow: 0px 0px 14px #4195fc;  
}

.texto
{
    border:2px solid #dadada;
    border-radius:7px;
    font-size:20px;
    padding:5px; 
    width: 324px;
    height: 190px;  
}

.texto:focus
{
    outline:none;
    border: 1px solid #4195fc; 
    box-shadow: 0px 0px 14px #4195fc; 
    -moz-box-shadow: 0px 0px 14px #4195fc;
    -webkit-box-shadow: 0px 0px 14px #4195fc;  
    width: 324px;
    height: 190px;  
}

.file{}

.button{}

.br
{
    height: 3px;
}

.postContainer
{
    border:2px solid #dadada;
    border-radius:7px;
    font-size:20px;
    padding:5px; 
}

.postContainer:hover    
{
    outline:none;
    border: 1px solid #4195fc; 
    box-shadow: 0px 0px 14px #4195fc; 
    -moz-box-shadow: 0px 0px 14px #4195fc;
    -webkit-box-shadow: 0px 0px 14px #4195fc;  
}

.replyContainer
{
    border:2px solid #dadada;
    border-radius:2px;
    font-size:20px;
    padding:5px; 
}

.replyContainer:hover    
{
    outline:none;
    border: 1px solid #fc4190; 
    box-shadow: 0px 0px 14px #fc4190; 
    -moz-box-shadow: 0px 0px 14px #fc4190;
    -webkit-box-shadow: 0px 0px 14px #fc4190;  
}



.replyContainer:active    
{
    outline:none;
    border: 1px solid #93fa7e; 
    box-shadow: 0px 0px 14px #93fa7e; 
    -moz-box-shadow: 0px 0px 14px #93fa7e;
    -webkit-box-shadow: 0px 0px 14px #93fa7e;  
}

.image
{
    max-height: 250px;
    max-width: 250px;
    
}