<div class="%filec% focusitem %AN% %ID%" id="f%ID%">
<div class="fileInfo">
<span data-filename="%FILE NAME%" class="fileText" id="fT%ID%">
<span onmouseover="showFullName('%ID%%IMAGE MD5%')" onmouseout="showShortName('%ID%%IMAGE MD5%')">
<a id="ffn%ID%%IMAGE MD5%" class="fn" href="%IMAGE TEXT DL%">%FILE NAME%</a>
</span>
<span style="color: #000000;"> - (%FILE SIZE%)</span>
</span>
</div>
<div class="fileThumb">
<audio width="320" height="240" preload="auto" controls>
  <source src="%LINK%" type="audio/%EXT%">
  <span>%NO AUDIO SUPPORT%</span>
</audio>
</div>
<div class="mFileInfo mobile">%FILE SIZE% <br/>%IMAGE EXT%</div>
</div>