<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<title>%BTITLE% - %LANG bannedMessageStr%</title>
<link rel="Stylesheet" href="%ROOT%yotsubab.css" />
<link rel="Stylesheet" href="%ROOT%mobile.css" />
<script src="%ROOT%scripts.js" type="text/javascript" language="javascript"></script>
<script type="text/javascript" src="%ROOT%js/jquery.min.js"></script>
<script type="text/javascript" src="%ROOT%js/jquery-ui.min.js"></script>
</head>
<body>
<div align="center">
<div style="min-height: 40%!important"></div>
<br/>
<div class="whitebox" style="text-align:inherit!important">
<h2>%LANG bannedMessageStr%</h2>
<table>
<tr>
<td>%LANG banReasonStr%: </td>
<td>%REASON%</td>
</tr>
<tr>
<td>%LANG bannedOnStr%: </td>
<td>%BOD%</td>
</tr>
<tr>
<td>%LANG banIpStr%: </td>
<td>%IP%</td>
</tr>
<tr>
<td>%LANG banPostNoStr%: </td>
<td>%POSTNO%</td>
</tr>
<tr>
<td>%LANG banExpiryStr%: </td>
<td>%EXP%</td>
</tr>
</table>
</div>
<div style="min-height: 10%"></div></div>
</body>
</html>