<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<title>%BTITLE%</title>
<link rel="Stylesheet" href="%ROOT%yotsubab.css" />
<script src="%ROOT%scripts.js"></script>
<script src="%ROOT%js/jquery.min.js"></script>
<script src="%ROOT%js/jquery-ui.min.js"></script>
<style>
li{
width: 192px;
min-height: 192px;
max-height: 192px;
float: left;
}

ul{list-style: none outside none;}
</style>
</head>
<body>
<div class="boardBanner"> 
<div class="boardTitle">%BTITLE%</div>
<div class="boardSubtitle">%BDESC%</div>
</div>
<hr />
<form action="%ROOT%deletefile.aspx" method="post" enctype="application/x-www-form-urlencoded" defaultbutton="a" >
<input type="hidden" name="mode" value="deletefile" />
<input type="hidden" name="id" value="%ID%" />

<div style="min-height: 300px; overflow-x: scroll;">
<ul>
%ITEMS%
</ul>
</div>

<br />

<span style="color:red" class="%badp%">%LANG wrongPasswordStr%</span>
<br />
<span>%LANG enterPassword%</span>
<input class="form-text" type="password" name="deletepass" />

<div class="%captcha show%">
<br />
<span style="color:red" class="%badc%">%LANG wrongCaptchaStr%</span>
<br />
%CAPTCHA PHOLDER%
</div>

<br />
<div>
<input id="a" type="submit" class="button" value="%LANG deleteStr%" />
</div>

</form>
<hr />
<div id="absbot" class="absBotText"><span>%FOOTER TEXT%</span></div>
</body>
</html>