<div class="file rotator">
<span>%IMAGECOUNT% %LANG rotatorImagesStr%.</span>
<div class="hide" id="jsrot%ID%">
<a href="javascript:gofirst('%ID%');"><img title="%LANG rotatorfirstStr%" alt="^" class="navigb" src="%ROOT%res/up.png"/></a>
<a href="javascript:goleft('%ID%');"><img title="%LANG rotatorprevStr%" alt="<" class="navigb" src="%ROOT%res/prev.png"/></a>
<a href="javascript:goright('%ID%');"><img title="%LANG rotatornextStr%" alt=">" class="navigb" src="%ROOT%res/next.png"/></a>
<a href="javascript:golast('%ID%');"><img title="%LANG rotatorlastStr%" alt="" class="navigb" src="%ROOT%res/down.png"/></a>
<div id="rot%ID%">%ITEMS%</div>
</div>
<script>$("#jsrot%ID%").removeClass("hide");</script>
<noscript><br/>%NOS%</noscript>
</div>