<!--<html>
<head>
<meta charset="utf-8">
<meta name="robots" content="noarchive">
<meta name="description" content="/g/ is 4chan's imageboard for discussing computers and technology.">
<meta name="keywords" content="imageboard,computers,technology">
<meta name="viewport" content="width=device-width,initial-scale=1">

<link rel="shortcut icon" href="//static.4chan.org/image/favicon-ws.ico">
<link rel="stylesheet" title="switch" href="//static.4chan.org/css/yotsubluenew.475.css">
<link rel="alternate stylesheet" style="text/css" href="//static.4chan.org/css/yotsubanew.475.css" title="Yotsuba New">
<link rel="alternate stylesheet" style="text/css" href="//static.4chan.org/css/yotsubluenew.475.css" title="Yotsuba B New">
<link rel="alternate stylesheet" style="text/css" href="//static.4chan.org/css/futabanew.475.css" title="Futaba New">
<link rel="alternate stylesheet" style="text/css" href="//static.4chan.org/css/burichannew.475.css" title="Burichan New">
<link rel="alternate stylesheet" style="text/css" href="//static.4chan.org/css/photon.475.css" title="Photon">
<link rel="alternate stylesheet" style="text/css" href="//static.4chan.org/css/tomorrow.475.css" title="Tomorrow">
<link rel="stylesheet" href="//static.4chan.org/css/yotsubluemobile.475.css">
<link rel="stylesheet" href="//static.4chan.org/js/prettify/prettify.css">
<link rel="canonical" href="http://boards.4chan.org/g/">
<title>/g/ - Technology</title>    
</head>
<body>

<div class="globalMessage hideMobile" id="globalMessage" data-utc="1366182261">
<h3><hr3>
</div>

<form name="delform" id="delform" action="https://sys.4chan.org/g/imgboard.php" method="post">
<div class="board">

</div>

<div style="float: right;">
<div class="deleteform desktop">
<input name="mode" value="usrdel" type="hidden">Delete Post [<input name="onlyimgdel" value="on" type="checkbox">File Only] Password <input pwfprops="," id="delPassword" name="pwd" maxlength="8" type="password">
<input value="Delete" type="submit">
<input value="Report" onclick="var o=document.getElementsByTagName('input');for(var i=0;i<o.length;i++)if(o[i].type=='checkbox' &amp;&amp; o[i].checked &amp;&amp; o[i].value=='delete') return reppop('https://sys.4chan.org/g/imgboard.php?mode=report&amp;no='+o[i].name.replace(/[a-z]+/,'')+'');" type="button">
</div>
<div class="stylechanger desktop">Style <select id="styleSelector" onchange="setActiveStyleSheet(this.value); return false;">
<option value="Yotsuba New">Yotsuba</option>
<option value="Yotsuba B New">Yotsuba B</option>
<option value="Futaba New">Futaba</option>
<option value="Burichan New">Burichan</option>
<option value="Tomorrow">Tomorrow</option>
<option value="Photon">Photon</option>
</select>
</div>
</div>
</form>

<div class="pagelist desktop">
<div class="prev"><span>Previous</span></div>

<div class="pages">

[<strong><a href="">0</a></strong>]
[<a href="1">1</a>]
[<a href="2">2</a>]
[<a href="3">3</a>]
[<a href="4">4</a>]
</div>

<div class="next">
<form action="1" onsubmit="location=this.action; return false;">
<input value="Next" accesskey="x" type="submit"/>
</form>
</div>
</div>
<div id="bottom"></div>
</body>
</html>-->
<div id='moda%ID%'><select id='selc%ID%'  onchange='updatemodlink("%ID%")' onkeypress='updatemodlink("%ID%")'>

    <option value='banpost'>LANG</option>
    <option value='delpost'>LANG</option>
    <option value='tgsticky'>LANG</option>
    <option value='tglock'>LANG</option>
    <option value='editpost'>LANG</option>

</select><a href='modaction.aspx?action=banpost&id=%ID%' id='modhref%ID%' class='form-button' target='_blank' >OK</a></div> 