<div class="rotator">
<span>%IMAGECOUNT% images.</span>
<div class='hide' id="jsrot%ID%">
<a href="javascript:gofirst('%ID%');"><img alt="▲" class="navigb" src="res/up.png"/></a>
<a href="javascript:goleft('%ID%');"><img alt="◄" class="navigb" src="res/prev.png"/></a>
<a href="javascript:goright('%ID%');"><img alt="►" class="navigb" src="res/next.png"/></a>
<a href="javascript:golast('%ID%');"><img alt="▼" class="navigb" src="res/down.png"/></a>
<div id="rot%ID%">%ITEMS%</div>
</div>
<script type="text/javascript">$("#jsrot%ID%").removeClass("hide");</script>
<noscript><br/>%NOS%</noscript>
</div>