<div class="postContainer opContainer %UIDS%" id="pc%ID%">
<div class="desktop cssmenu"><ul><li class="active has-sub"><a href="#">[#]</a><ul>%MODPANEL%<li><a class="wdlink" href="%ROOT%post.aspx?mode=report&id=%ID%" target="_blank">%LANG reportStr%</a></li><li class="last"><a class="wdlink" href="%ROOT%post.aspx?mode=delete&id=%ID%" target="_blank">%LANG deleteStr%</a></li></ul></li></ul></div>
<div id="p%ID%" class="post op">
<div class="postInfoM mobile" id="pim%ID%">
<span class="nameBlock">
    %NAMESPAN%
    %UID%
    <br>
    <span class="subject">%SUBJECT%</span>
</span>
<span class="dateTime postNum" data-utc="%DATE UTC UNIX%">%DATE UTC TEXT%&nbsp;<a href="%POST LINK%">No.</a>
    <a href="%POST LINK%" title="Quote this post">%ID%</a>
</span>
%STICKY%
%LOCKED%
</div>
%IMAGES%
<div class="postInfo desktop" id="pi%ID%">
<span class="subject">%SUBJECT%</span>
<span class="nameBlock">
%NAMESPAN%
</span>
&nbsp;
%UID%
&nbsp;
<span class="dateTime">%DATE UTC TEXT%</span>
<span class="postNum">
<a href="%POST LINK%" title="Highlight this post">&nbsp;No.&nbsp;</a>
<a href="javascript:quote('%ID%','%ID%');" title="Quote this post">%ID%</a>
%REPLY BUTTON%
</span>
%REPLY COUNT SPAN%
%STICKY%
%LOCKED%
</div>
<blockquote class="postMessage" id="m%ID%">%POST TEXT%</blockquote>
</div>
</div>