<div class="{html:filec} {rotator:isnext}" id="f{file:id}">
    <div class="fileInfo">
        <span class="fileText"><a class="fn" href="{file:dl-link}">{file:name}</a> <span
            style="color: #000000;">- {file:size}</span> </span>
    </div>
    <div class="fileThumb">
        <audio width="128" height="20" controls="" preload="none">
  <source src="{file:link}" type="audio/{mime}">
  <span>{lang:noaudiosupport}</span>
</audio>
    </div>
    <div class="mFileInfo mobile">
        {file:size}
        <br />
        {file:ext}</div>
</div>
