<!DOCTYPE html>
<html>
<head>
    <title>{BoardTitle} - {DialogTitle}</title>
    <link rel="stylesheet" href="{WebRoot}css/layout.css" />
    <link rel="stylesheet" href="{WebRoot}css/grey.css" />
</head>
<body>
    <div class="boardBanner">
        <div class="boardTitle">
            {BoardTitle}</div>
        <div class="boardSubtitle">
            {DialogTitle}</div>
    </div>
    <hr />
    {DialogBody}
    <hr />
    <div id="footer">
        <span>{FooterText}</span></div>
</body>
</html>