<div class="{html:filec} {rotator:isnext}" id="f{file:id}">
    <div class="fileInfo desktop">
        <span class="fileText" id="fT{file:id}">
        <a class="fn" href="{file:dl-link}">{file:name}</a> - ({file:size}, {file:dimensions})</span>
        {file:selinks}
    </div>
    <a class="fileThumb" href="{file:link}" target="_blank">
        <img src="{file:thumblink}" alt="{file:name}"/>
        <div class="mFileInfo mobile">
            {file:dimensions} {file:size}
            <br />
            {file:ext}</div>
    </a>
</div>