<div class="{html:filec} {rotator:isnext} {file:id}" id="f{file:id}">
    <div class="fileInfo">
        <span class="fileText"><a class="fn" href="{file:dl-link}">{file:name}</a> <span
            style="color: #000000;">- {file:size}</span> </span>
    </div>
    <div class="fileThumb">
        <video width="180" height="240" controls=""  poster="{file:thumblink}" preload="none">
  <source src="{file:link}" type="video/{mime}">
  <span>{lang:novideosupport}</span>
</video>
    </div>
    <div class="mFileInfo mobile">{file:size}</div>
</div>
